<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <system.web>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  <location path="IntegrationService.svc">
    <system.webServer>
      <security>
        <ipSecurity allowUnlisted ="false">
          <add ipAddress="127.0.0.1" allowed="true" />
          <add ipAddress="137.117.16.248" allowed="true" />
        </ipSecurity>
      </security>
    </system.webServer>
  </location>
</configuration>