<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <system.web>
    <authorization>   
      <allow roles="PartnerAdmin"/>
      <deny users="*" />
    </authorization>
    <customErrors mode="Off" defaultRedirect="Error.aspx">
      <error statusCode="404" redirect="NotFound.aspx" />
      <error statusCode="500" redirect="Error.aspx" />
    </customErrors>
  </system.web>
</configuration>