<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="EmailContext" connectionString="metadata=res://*/EmailContext.csdl|res://*/EmailContext.ssdl|res://*/EmailContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ronin\sqlexpress;initial catalog=fot;persist security info=True;user id=scartag;password=father;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="LOG" value="True" />
    <add key="LOGDIR" value="C:\Users\Administrator\Desktop\logs" />
    <add key="MailFrom" value="dragnetadmin" />
    <add key="MailFromPassword" value="Dragnet247$" />
    <add key="SmtpServer" value="smtp.sendgrid.net" />
    <add key="SmtpPort" value="25" />
    <add key="EmailName" value="Fot Administrator" />
    <add key="EmailAddress" value="admin@fot.com.ng" />
  </appSettings>
</configuration>
